aiofiles==0.3.0
audioread==2.1.4
boto==2.46.1
bz2file==0.98
click==6.7
cycler==0.10.0
Cython==0.25.2
dask==0.13.0
decorator==4.0.10
Facebook==0.0
Flask==0.12
future==0.16.0
gensim==1.0.1
graphviz==0.5.2
h5py==2.6.0
httptools==0.0.9
itsdangerous==0.24
Jinja2==2.9.5
joblib==0.10.3
Keras==2.0.2
librosa==0.4.3
lightfm==1.10
MarkupSafe==1.0
matplotlib==1.5.3
mock==2.0.0
multidict==2.1.4
networkx==1.11
nltk==3.2.1
numpy==1.11.2
oauthlib==2.0.1
olefile==0.43
pandas==0.19.2
pbr==1.10.0
Pillow==4.0.0
protobuf==3.0.0
pydot==1.2.3
pydotplus==2.0.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.12.4
requests-oauthlib==0.7.0
resampy==0.1.4
Sanic==0.1.9
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
smart-open==1.5.1
tensorflow==0.11.0
textblob==0.11.1
tflearn==0.2.1
Theano==0.9.0
toolz==0.8.2
tqdm==4.11.2
tweepy==3.5.0
ujson==1.35
uvloop==0.7.2
Werkzeug==0.12.1
